<!--
=========================================================
* Soft UI Dashboard - v1.0.7
=========================================================

* Product Page: https://www.creative-tim.com/product/soft-ui-dashboard
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<%- include("includes/header.ejs") %>

<body class="g-sidenav-show  bg-gray-100">
  <%- include("includes/sidebar.ejs") %>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <%- include("includes/navbar.ejs") %>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row justify-content-end">
        <div class="col-auto">
          <button href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#insertReport">Insert Report</button>

          <div class="modal fade" id="insertReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <form action="" method="post">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Insert Budget Report</h5>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="unit_name" placeholder="name@example.com">
                      <label for="unit_name">Unit/Office Name</label>
                    </div>
                    <div class="form-floating mb-3">
                      <select name="units" class="form-select" id="units">
                        <option selected disabled>Select Unit/Office Division</option>
                        <!-- to be changed -->
                        <option value="unified_command">UNIFIED COMMAND</option>
                        <option value="afpwssus">AFPWSSUs</option>
                        <option value="command_group(ghq proper)">COMMAND GROUP(GHQ PROPER)</option>
                        <option value="joint_staff(ghq proper)">JOINT STAFF(GHQ PROPER)</option>
                        <option value="personal_staff(ghq proper)">PERSONAL STAFF(GHQ PROPER)</option>
                        <option value="special_staff(ghq proper)">SPECIAL STAFF(GHQ PROPER)</option>
                        <option value="technical_staff(ghq proper)">TECHNICAL STAFF(GHQ PROPER)</option>
                      </select>
                      <label for="units">Units/Office</label>
                    </div>
                    <div class="form-floating mb-3">
                      <select name="qtr" class="form-select" id="qtr">
                        <option selected disabled>SELECT QUARTER</option>
                        <!-- to be changed -->
                        <option value="1st_qtr">1ST QTR</option>
                        <option value="2nd_qtr">2ND QTR</option>
                        <option value="3rd_qtr">3RD QTR</option>
                        <option value="4th_qtr">4TH QTR</option>
                      </select>
                      <label for="qtr">QUARTER</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input name="qtrly_expense" type="number" class="form-control" id="qtrly_expense" placeholder="name@example.com">
                      <label for="qtrly_expense">Quarterly Expense</label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Insert Report</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>UNIFIED COMMAND</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">UNITS/OFFICE</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">1ST QTR</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">2ND QTR</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">3RD QTR</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">4TH QTR</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">GRAND TOTAL</th>
                      <th class="text-secondary opacity-7"></th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">NOLCOM</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">3,184,688.40</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <p class="text-xs font-weight-bold mb-0">3,129,774.00</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">3,129,774.00</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">3,129,774.00</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">12,574,010.40</p>
                      </td>
                      <td class="align-middle">
                        <a href="/edit_budget_report" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td>
                      <td class="align-middle">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Delete
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>UNIFIED COMMAND</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">UNITS/OFFICE</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">1ST QTR</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">2ND QTR</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">3RD QTR</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">4TH QTR</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">GRAND TOTAL</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">NOLCOM</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">3,184,688.40</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <p class="text-xs font-weight-bold mb-0">3,129,774.00</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">3,129,774.00</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">3,129,774.00</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">12,574,010.40</p>
                      </td>
                      <td class="align-middle">
                        <a href="/edit_budget_report" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td>
                      <td class="align-middle">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Delete
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>UNIFIED COMMAND</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">UNITS/OFFICE</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">1ST QTR</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">2ND QTR</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">3RD QTR</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">4TH QTR</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">GRAND TOTAL</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">NOLCOM</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">3,184,688.40</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <p class="text-xs font-weight-bold mb-0">3,129,774.00</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">3,129,774.00</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">3,129,774.00</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">12,574,010.40</p>
                      </td>
                      <td class="align-middle">
                        <a href="/edit_budget_report" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td>
                      <td class="align-middle">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Delete
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>UNIFIED COMMAND</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">UNITS/OFFICE</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">1ST QTR</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">2ND QTR</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">3RD QTR</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">4TH QTR</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">GRAND TOTAL</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">NOLCOM</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">3,184,688.40</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <p class="text-xs font-weight-bold mb-0">3,129,774.00</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">3,129,774.00</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">3,129,774.00</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">12,574,010.40</p>
                      </td>
                      <td class="align-middle">
                        <a href="/edit_budget_report" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td>
                      <td class="align-middle">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Delete
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
  <%- include("includes/settings.ejs") %>
  <%- include("includes/footer.ejs") %>